@import "./scss/wrapper.scss";
@import "./scss/auth-pages/auth.scss";
@import "./scss/components/buttons.scss";
@import "./scss/pages/home.scss";
@import "./scss/pages/explore.scss";
@import "./scss/layout.scss";
@import "./scss/sidebar.scss";
@import "./scss/helpers.scss";
@import "./scss/single-pages/single-artifacts.scss";
@import "./scss/pages/profile.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
