.d-none {
  display: none;
}

.d-block {
  display: block;
}

.ml-4 {
  margin-left: 16px;
}

img {
  cursor: pointer;
  transition: 0.3s;
}
img:hover {
  scale: 1.1;
}

.text-yellow {
  color: rgb(177, 177, 12);
}

.text-green {
  color: green;
}
